.navbar {
    background-color: #1976d2;
}

.brand {
    font-family: Roboto;
    font-weight: 200;
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
}

.stats-preview {
    background-color: #2195f3;
    width: 100%;
    height: 120px;
}

.stats-preview .container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 30% 70%;
    padding: 0.5rem 1rem;
}

.stats-preview .left-col h6 {
    font-family: Roboto;
    font-weight: 200;
    font-size: 18px;
    color: #fff;
    margin-bottom: 0;
}

.stats-preview .left-col p {
    font-family: Roboto;
    font-weight: 200;
    font-size: 60px;
    color: #fff;
    margin-bottom: 0;
}

.container.header-grid-container {
    display: grid !important;
    grid-template-columns: 70px calc(100% - 170px) 100px;
    position: relative;
}

.dropdown-custom-render {
    position: absolute;
    background-color: #fff;
    width: auto;
    height: auto;
    min-width: 120px;
    top: 51px;
    border: 1px solid #eee;
    padding: 0.5rem 0.8rem;
    color: #999999;
    left: 18px;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
}

.dropdown-custom-render::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #fff;
    top: -5px;
    transform: rotate(45deg);
    border-left-color: #eee;
    z-index: -1;
    border-right-color: #fff;
    border-top-color: #eee;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #fff;
    left: 15px;
}

.nav {
    flex-direction: column;
}

.nav a.btn {
    padding: 0;
    margin: 0;
    line-height: initial;
    list-style: none;
    display: contents;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: Roboto !important;
}

.nav a {
    color: #000;
    font-size: 18px;
    font-family: Roboto !important;
    border-radius: 0;
    margin: 0;
    margin-bottom: 6px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: none;
}

ion-icon {
    font-size: 21px;
    margin-right: 5px;
  }


.nav a.btn:hover {
    color: #0056b3;
    text-decoration: none;
}

.nav a {
    display: flex !important;
    align-items: center;
}

.nav a img {
    margin-right: 6px;
}

.add-button {
    background-color: #efb115;
    border: 0;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 0 !important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 0 !important;
    font-size: 16px;
    font-weight: 300;
    background-color: #ededed;
}

.table-bordered td, .table-bordered th {
    border: 0 !important;
}

.table-bordered {
    border: 0 !important;
}

.filter-container {
    width: 100%;
    height: 60px;
    background-color: #dddddd;
    margin-top: 40px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f7f7 !important;
}

.modal-body {
    padding: 0 !important;
}

.modal-footer {
    margin-top:20px;
}

.modal-body .expenses-form-container {
    padding: 0.5rem 1rem;
}

.settings {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 30px;
}

.edit {
    cursor: pointer;
}

.delete {
    cursor: pointer;
}

.nav a i {
    margin-right: 10px;
    font-size: 12px !important;
}

button.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-screen {
    display: grid;
    grid-template-columns: 60% 20%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
    grid-gap: 20px;
}

.sign-screen.inverse {
    grid-template-columns: 20% 60%;
}

.left-sign img {
    max-width: 1000px;
}

.left-sign {
    border-right: 1px solid #f7f7f7;
}

.sign-screen.inverse .left-sign {
    border-left: 1px solid #f7f7f7;
    border-right: 0;
}

.left-sign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-link {
    margin-left: 10px;
}

.react-datepicker {
    border: 1px solid #f7f7f7;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
    border-top: none;
    border-bottom-color: #f7f7f7;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
    top: -1px;
    border-bottom-color: #f7f7f7;
}

.react-datepicker__header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ffffff;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    border-radius: 0rem;
    background-color: #1976d2;
    color: #fff;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.divider::before {
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    background-color: #efefef;
    z-index: -1;
}

.divider::after {
    content: "or";
    position: relative;
    width: 20px;
    height: 28px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    color: #cdcdcd;
}

.google-button-container {
    margin-top: 10px;
}

.google-button {
    box-shadow: 0 4px 6px -1px rgb(0 0 0/0.1),0 2px 4px -2px rgb(0 0 0/0.1) !important;
    border: 1px solid #ededed !important;
    margin: 0 auto;
    width: 100%;
}